<%= form_for(@customer_wellness) do |f| %>
  <% if @customer_wellness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_wellness.errors.count, "error") %> prohibited this customer_wellness from being saved:</h2>

      <ul>
      <% @customer_wellness.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :pharmacy_id %><br>
    <%= f.number_field :pharmacy_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :scripted_calls %><br>
    <%= f.check_box :scripted_calls %>
  </div>
  <div class="field">
    <%= f.label :medication_passtime_alerts %><br>
    <%= f.check_box :medication_passtime_alerts %>
  </div>
  <div class="field">
    <%= f.label :illness_monitoring %><br>
    <%= f.check_box :illness_monitoring %>
  </div>
  <div class="field">
    <%= f.label :customer_remote_access %><br>
    <%= f.check_box :customer_remote_access %>
  </div>
  <div class="field">
    <%= f.label :last_customer_access %><br>
    <%= f.date_select :last_customer_access %>
  </div>
  <div class="field">
    <%= f.label :receive_newsletter %><br>
    <%= f.number_field :receive_newsletter %>
  </div>
  <div class="field">
    <%= f.label :allow_prescriber_access %><br>
    <%= f.number_field :allow_prescriber_access %>
  </div>
  <div class="field">
    <%= f.label :last_contact %><br>
    <%= f.date_select :last_contact %>
  </div>
  <div class="field">
    <%= f.label :last_contact_type %><br>
    <%= f.number_field :last_contact_type %>
  </div>
  <div class="field">
    <%= f.label :last_assessment %><br>
    <%= f.date_select :last_assessment %>
  </div>
  <div class="field">
    <%= f.label :next_contact_date %><br>
    <%= f.date_select :next_contact_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
